body{
    background-color:lightblue;
}
.img{
    position: relative;
    float: left; 
    width: 40%; 
    margin-top: 40px;
}
.info{
    float: left; 
    margin-top: 60px;
}
.text{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    color: darkorange; 
    transform: translate(-50%, -50%);
    font-size: 30px;
}
#heart{
    position: absolute; 
    top: 43%; 
    left: 50%; 
    color: darkorange; 
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 20%;
visibility: hidden;
}
.colour{
    display: inline-block; 
    width: 15%; 
    height: 40px;
    border-radius: 15%; 
    border: solid;
    border-color: black;
}
.btn{

    width: 30%; 
    height: 40px;
    border-radius: 8%; 
    border: solid;
    border-width: 1px;
    background-color: tomato;
    margin: 10px;
    padding: 5px;
}
.buy{
    height: 50px;
    width:50%;
    background-color: yellow;
}
#colour1{
    background-color: #ca3d22;
    border-color: white;
}
#colour2{
    background-color: #23211f;
}
#colour3{
    background-color: #565681;
}
#colour4{
    background-color: #8a5362;
}
